:root{
    --primary-color: #797878;
    --secondary-color: #000000;
    --blue-color: #4054B2;    
    --white-color: #ffffff;
    --transition-speed: 1s;
    --button-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
  list-style: none;
}  

button{
    padding: 10px 20px;
    background: var(--blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* hederistvis */
.toOpenBurger{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    top: 0;
}

/* navigaciistvis */
.burgerNav{
    top: 0;
    transition: var(--transition-speed);
    background: var(--white-color);
}

/* logoPart */
.logoOnBurger{
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* contact-is nawili */
.burgerContact{
    height: 30%;
    width: 100%;
}

/* menius nawili */
.menuOnBurger{
    height: 100%;
    width: 100%;
}

/* menius ul */
.ulOnBurger{
    height: 100%;
    align-items: center;
    flex-direction: column;
}

header,
nav,
div,
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

header{
    height: 80px;
    width: 100%;
    align-items: center;
}

nav{
    height: 80%;
    width: 90%;
    align-items: flex-end;
}

header nav div ul{
    width: 100%;
}

header nav div ul li a{
    font-size: 18px; 
    color: var(--secondary-color);
}

.logo{
    width: 25%;
}

.logo a{
    width: 100%;
}

.logoDiv{
    width: 180px;
    height: 30px;
    background-image: url("./images/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menuBarContainer input{
    display: none;
}

.menu{
    width: 50%;
}

li:hover a{
    color: var(--primary-color);
}

.contact{
    width: 25%;
}

.menulide{
    left: 0;
}

.menuBar{
    right: 10%;
    top: 5%;
    position: absolute;
    z-index: 20000;
}

.menuBarContainer{
    position: absolute;
    right: 10%;
    top: 5%;
}

.menuToggle{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 5px;
}

.menuBarContainer{
    display: none;
}

.menuToggle .fa-xmark{
    display: none;
}

#MenuCheckBox:checked + .menuToggle .fa-bars{
    display: none;
}

#MenuCheckBox:checked + .menuToggle .fa-xmark{
    display: inline;
}
#MenuCheckBox:checked ~ nav{
    top: 0;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
}

main .mainAside{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

main .mainAside .banner{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
}

main .mainAside .banner::after{
    content: '';
    position: absolute;
    background-color: hsl(229, 47%, 47%, 0.7);
    height: 100%;
    width: 100%;
    left: 0;
}

main aside div img{
    width: 100%;
    height: 100%;
}

main aside .overlay{
    width: 50%;
    height: 50%;
    left: 8%;
    color: var(--white-color);
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    z-index: 500;
}


main aside .overlay button{
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--blue-color);
}

main .container{
    margin-top: calc(100% - 95%);/* height-ის გაწერა აღარ დამჭირდა ისე დავუწერე margin*/
    margin-bottom: calc(100% - 95%);
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 2%;
}

main .container article:hover{
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.23);
}

main .container article:hover .box{
    background: var(--blue-color);
    color: var(--white-color);
    transition: var(--transition-speed);
}

.box{
    height: 40%;
    width: 20%;
    border-radius: 50%;
    border: 2px solid blue;
    justify-content: center;
    align-items: center;
    transition: var(--transition-speed);
}

main .container article{
    aspect-ratio: 4 / 2;  /* ამის მიხედვით გავუწერე height: 40%; width: 20%; border-radius: 50%; .box-ს */
    flex: 0 1 calc(50% - 2%);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15%;
    transition: var(--transition-speed);
}

.pricing-section,
.pricing-section *{
    margin: revert;
}


.pricing-section{
    width: 100%;
    background: #EEEEEE;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing-section h2{
    color: #333;
}

.pricing-section p{
    max-width: 700px;
    line-height: 1.6;
}

.cards-container{
    margin-bottom: calc(100% - 95%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 2%;
    width: 100%;
    max-width: 1200px;
}

.cards{
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    aspect-ratio: 1 / 2;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: var(--transition-speed);
    width: 250px;
}

.cards:hover{
    background: #4054B2 ;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.cards:hover p{
    color: var(--white-color);
}

.cards button{
    border-color: 2px solid var(--blue-color);
}

.price{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-value{
    font-size: 32px;
    font-weight: bold;
}

.price-per{
    font-size: 16px;
    color: var(--primary-color);
}

.plan-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #333;
}

.forms{
    margin-bottom: calc(100% - 99%);
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forms h2{
    color: var(--blue-color);
    margin-top: calc(100% - 95%);
}

.infoInput{
    width: 50%;
}
  
.forms input,
.forms textarea{
    width: 100%;
    margin-bottom: calc(100% - 98%);
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forms button{
    width: 100%;
    box-shadow: var(--button-shadow);
}
  
#infoBlock{
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.clientsSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EEEEEE;
    text-align: center;
}

.clientsSection h2{
    margin-top: calc(100% - 95%);
}

.reviews{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.review{
    width: 45%;
    flex-direction: column-reverse;
    font-style: italic;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
}

.infoClass{
    align-items: center;
}

.review img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review h4{
    color: var(--blue-color);
}

.review p{
    color: var(--primary-color);
}


.faq{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
} 

.faq h2{
    text-align: center;
}

.question{
    width: 40%;
    border: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30%;
}

.active .activDiv{
    display: flex;
    width: 100%;
    align-items: center;
}

.activDiv{
    display: none;
}

.faq button{
    box-shadow: var(--button-shadow);
} 

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.forWidth{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

span{
    color: var(--blue-color);
}

.socials{
    color: var(--primary-color);
    width: 10%;
    align-items: flex-start;
}

.socials a i{
    color: var(--primary-color);
}

@media screen and (max-width: 799px) {
    .logoDiv{
        width: 100%;
    }
    
}

@media screen and (max-width: 576px) {
    header{
        position: fixed;
        top: 0%;
        height: 100%;
        transition: var(--transition-speed);
        flex-direction: row;
        z-index: 10000000000000000000000000000000000000000000000;
    }

    .logoDiv{
        width: 40%;
    }

    .menu,
    .contact{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu ul{
        height: 100%;
    }

    nav{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -100%;
        background-color: var(--white-color);
        transition: var(--transition-speed);
    }

    .contact{
        height: 30%;
    }

    .menuBarContainer{
        display: block;
        position: fixed;
        z-index: 20000000000000000000000000000000000000000000000;
    }

    .logo{
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        top: 0;
        position: fixed;
        bottom: 0;
        background: var(--white-color);
    }

    #menuUl{
        flex-direction: column;
        align-items: center;
    }

    #infoBlock,
    .infoInput{
        width: 80%;
    }

    .review{
        width: calc(100% - 10%);
    }

    .card,
    .socials{
        width: 50%;
    }
}